# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/old
build/
*.egg-info/

# Logs
logs/
*.log

# Environment
.env
.venv
env/
venv/
ENV/

# PyInstaller
*.manifest

# VS Code
.vscode/

# PyCharm
.idea/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Virtual env
macro-env/

# Local configuration
config.local.json
*.json

# Temporary files
temp/
logs/

# marge codes to text
merge.py
merged_code.txt
require.txt